# Interview Questions Mailed By A Data Analytics Company üè¢

In [206]:
# import pandas as pd   - to import pandas library

In [207]:
import pandas as pd

# Q-1:

# Load the dataset into the pandas dataframe, name the variable as a 'survey'

In [208]:
survey=pd.read_csv("D:\DA-2023\DATA LOVERS PROJECT\Survey Dataset - Technical Interview.csv")  # load data here

In [209]:
survey.head()                                               # show dataset here

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"‚Çπ 10,000 - ‚Çπ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [210]:
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"‚Çπ 10,000 - ‚Çπ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ‚Çπ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ‚Çπ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),RJD,Can‚Äôt say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"‚Çπ 10,000 - ‚Çπ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

# Q-2:

# How many samples were collected on each day?

In [211]:
 survey.head(2)                                       # survey.head(2)  - to show the first 2 rows of data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [212]:
survey['collection_date'].unique()          # survey['collection_data'].unique() to show all the unique values of a column

array(['5-24-2017', '5-25-2017', '5-26-2017', '5-27-2017', '5-28-2017',
       '5-29-2017', '5-30-2017', '5-31-2017', '6-1-2017'], dtype=object)

In [213]:
survey['collection_date'].nunique()                    # survey['collection_date'].nunique()   -- to show total number of unique values in a column

9

In [214]:
         survey['collection_date'].value_counts()      # survey['collection_date'].value_counts()  -- to show all the unique values of a column with their counts

5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: collection_date, dtype: int64

In [215]:
survey['collection_date'].value_counts(ascending=True)                         # survey['collection_date'].value_counts(ascending=True)

5-31-2017     557
5-30-2017     582
5-26-2017     598
6-1-2017      607
5-29-2017     620
5-27-2017     665
5-28-2017     761
5-25-2017     998
5-24-2017    1479
Name: collection_date, dtype: int64

# A-3:

# What proportion of the total respondents were aged less than 45?

In [216]:
survey.head(2)                      # survey.head(2) --- to show the top 2 records(row)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [217]:
survey['age']                    # survey['age']<45 -- filtering on condition basis

0       26
1       34
2       25
3       36
4       22
        ..
6862    25
6863    30
6864    20
6865    23
6866    33
Name: age, Length: 6867, dtype: object

In [218]:
survey.age.dtype                      # survey.age.dtype -- to check the data type

dtype('O')

In [219]:
survey.age.unique()                       # survey.age.unique  -- to show all unique values of a column

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '24ko', '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [220]:
survey.age.value_counts()                        # # survey.age.value_counts()   --- to show all unique values of a column with their counts

25      598
24      449
30      440
28      396
22      392
26      389
27      360
20      328
23      317
21      311
32      263
35      263
29      239
40      177
34      173
19      171
31      159
33      143
38      135
36      127
18      125
42      104
37       90
45       82
43       72
39       69
50       60
41       54
44       54
48       35
47       34
46       32
49       27
52       24
51       23
55       20
60       15
53       12
61       12
54       11
57       10
56        9
58        9
64        8
67        7
62        5
59        5
65        5
68        4
63        4
66        4
70        3
71        2
74        1
24ko      1
69        1
99        1
72        1
75        1
76        1
Name: age, dtype: int64

In [221]:
survey['age'].replace({'24ko':24})                        # survey['age'].replace({'24ko': 24})

0       26
1       34
2       25
3       36
4       22
        ..
6862    25
6863    30
6864    20
6865    23
6866    33
Name: age, Length: 6867, dtype: object

In [222]:
survey['age'].replace({'24ko':24}, inplace=True)                        # survey['age'].replace({'24ko': 24}, inplace=True)

In [223]:
survey.age.unique()                        # survey.age.unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', 24, '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [224]:
survey.age.value_counts()                        # survey.age.value_counts()

25    598
24    449
30    440
28    396
22    392
26    389
27    360
20    328
23    317
21    311
32    263
35    263
29    239
40    177
34    173
19    171
31    159
33    143
38    135
36    127
18    125
42    104
37     90
45     82
43     72
39     69
50     60
41     54
44     54
48     35
47     34
46     32
49     27
52     24
51     23
55     20
60     15
53     12
61     12
54     11
57     10
56      9
58      9
64      8
67      7
62      5
59      5
65      5
68      4
63      4
66      4
70      3
71      2
74      1
24      1
69      1
99      1
72      1
75      1
76      1
Name: age, dtype: int64

In [225]:
survey['age']=survey.age.astype(int)     # survey['age']=survey.age.astype(int) -- to change the data type of a column

In [226]:
survey.age.dtype                        # survey.age.dtype

dtype('int32')

In [227]:
survey.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [228]:
survey[survey['age']<45]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"‚Çπ 10,000 - ‚Çπ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ‚Çπ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ‚Çπ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),RJD,Can‚Äôt say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"‚Çπ 10,000 - ‚Çπ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [229]:
6399/6867*100

93.18479685452162

# Q-4: Create a new column in the DataFrame "age-group". This column should be contain the age group the respondend 
    belongs to. The age groups are 18-25,25-40,40-45 & 55+, The dataframe should look like as per given

In [230]:
survey.head(2)                         # survey.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [231]:
data=survey.copy()                        # data=survey.copy() --to make a copy of dataframe

In [232]:
data.head()            # data.head(|)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"‚Çπ 10,000 - ‚Çπ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [233]:
#data1=data.insert(10,'age_group',survey.age)   # df_name.insert('new_column position','new column name','new column values')   -- to insert a new columnat required
                            # data.insert(10, 'age_group', survey.age)

In [234]:
# del data['age_group']  # For delete any column with use condition

In [235]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [241]:
 data1=data.insert(10,'age_group',survey.age)

In [242]:
data.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419

In [243]:
data.head(2)  # Now problem was sorted and now I can continue***********

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"‚Çπ 30,000 - ‚Çπ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"‚Çπ 20,000 - ‚Çπ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419

In [244]:
data=data[(data.age_group >= 18) & (data.age_group < 25)]   # data1=data[(data.age_group>=18) & (data.age_group<25)]--filtering with & operator

In [245]:
data.head(2)       # data1.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,23,Male,181,Gen,0.226477

In [246]:
data.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,23,Male,181,Gen,0.226477

In [247]:
data1=data.copy()

In [248]:
data1.age_group.unique()                        # data1.age_group.unique()

array([22, 23, 24, 19, 21, 18, 20])

In [249]:
data1['age_group']='18-25'

In [250]:
data1.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477

In [251]:
data1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"‚Çπ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ‚Çπ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"‚Çπ 30,000 - ‚Çπ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"‚Çπ 10,000 - ‚Çπ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,18-25,Male,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"‚Çπ 5,000 - ‚Çπ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,18-25,Male,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,18-25,Male,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),RJD,Can‚Äôt say,Fully Dissatisfied,20,18-25,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"‚Çπ 10,000 - ‚Çπ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,18-25,Male,243,Gen,0.080137

In [252]:
#          ********//////***********

In [253]:
data.tail()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
6858,6859,6-1-2017,Rural,Graduate,"‚Çπ 10,000 - ‚Çπ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,24,Male,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"‚Çπ 5,000 - ‚Çπ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,21,Male,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,22,Male,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),RJD,Can‚Äôt say,Fully Dissatisfied,20,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"‚Çπ 10,000 - ‚Çπ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,23,Male,243,Gen,0.080137

In [254]:
#data=data[(data.age_group >= 18) & (data.age_group < 25)] ---sample formula

In [255]:
data2=data[(data.age_group >=25) & (data.age_group < 40)] # data2=data[(data.age_group>=25) & (data.age_group<40)] --- filtering with & operator

In [256]:
data2.head(2)                  # data2.head()

Empty DataFrame
Columns: [response_id, collection_date, urban_rural, education, income, Vote_Now, Past_Vote, CM_satisfaction, MLA_satisfaction, age, age_group, gender, assembly_no, category, weight]
Index: []

In [257]:
data2.age_group.unique()                       # data2.age_group.unique()

array([], dtype=int32)

In [273]:
data2['age_group']='25-40'                        # data2['age_group']='25-40'

In [274]:
data2.head(3)                        # data2.head(2)

Empty DataFrame
Columns: [response_id, collection_date, urban_rural, education, income, Vote_Now, Past_Vote, CM_satisfaction, MLA_satisfaction, age, age_group, gender, assembly_no, category, weight]
Index: []

In [275]:
data3=data[(data.age_group>=40) & (data.age_group<55)]                        # data3=data[(data.age_gruop>=40) & (data.age_group<55)]   ---filtering with and operator

TypeError: '>=' not supported between instances of 'str' and 'int'

In [276]:
data3.head(2)                        # data3.head(2)

Empty DataFrame
Columns: [response_id, collection_date, urban_rural, education, income, Vote_Now, Past_Vote, CM_satisfaction, MLA_satisfaction, age, age_group, gender, assembly_no, category, weight]
Index: []

In [262]:
data3.age_group.unique()                        # data3.age_group.unique()

array([], dtype=int32)

In [263]:
data3['age_group']='40-55'                        # data3['age_group']='40-55'

In [264]:
data3.head(2)                            # data3.head(2)

Empty DataFrame
Columns: [response_id, collection_date, urban_rural, education, income, Vote_Now, Past_Vote, CM_satisfaction, MLA_satisfaction, age, age_group, gender, assembly_no, category, weight]
Index: []

In [265]:
data4=data[data.age_group>=55]         # data4=[(data.age_group>55)]       ----filtering on given condition basis

In [266]:
data4.head(2)                            # data4.head(2)

Empty DataFrame
Columns: [response_id, collection_date, urban_rural, education, income, Vote_Now, Past_Vote, CM_satisfaction, MLA_satisfaction, age, age_group, gender, assembly_no, category, weight]
Index: []

In [267]:
data4['age_group']='55+'                            # data4['age_group']='55+'

In [268]:
data4.head(2)                            # data4.head(2)

Empty DataFrame
Columns: [response_id, collection_date, urban_rural, education, income, Vote_Now, Past_Vote, CM_satisfaction, MLA_satisfaction, age, age_group, gender, assembly_no, category, weight]
Index: []

In [269]:
import pandas as pd

In [270]:
data=pd.concat([data1,data2,data3,data4])    # data=pd.concat([data1,data2,data3,data4])    ---for the concatenation of the dataframes

In [271]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"‚Çπ 50,000 - ‚Çπ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"‚Çπ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ‚Çπ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"‚Çπ 30,000 - ‚Çπ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"‚Çπ 10,000 - ‚Çπ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,18-25,Male,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"‚Çπ 5,000 - ‚Çπ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,18-25,Male,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ‚Çπ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,18-25,Male,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"‚Çπ 5,000 - ‚Çπ 10,000",JAP(L),RJD,Can‚Äôt say,Fully Dissatisfied,20,18-25,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"‚Çπ 10,000 - ‚Çπ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,18-25,Male,243,Gen,0.080137

In [272]:
data.age_group.unique()                                # data.age_group.unique()

array(['18-25'], dtype=object)

# Q 5:

# How many samples were collected for each age-group? Which age-group had the most sample?

In [ ]:
data.head(2)                    # data.head(2)

In [ ]:
data.age_group.value_counts()                    # data.age_group.value_counts()

# Q 6:

# What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions?

In [ ]:
                        # survey.head(2)

In [ ]:
                        # survey[survey['Vote_Now']=='RJD']   --FILTERING ON CONDITION BASIS
                        # survey[survey['Past_Vote']=='RJD']
                        # survey[(survey['Vote_Now']=='RJD') & (survey['Past_Vote']=='RJD']

In [ ]:
                        # 811/6867*100  --calculate